<header class="site-header">

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <span class="menu-icon">
        <svg>
          <g transform="translate(4,4)" fill="#0C84E8">
            <rect x="0" y="0" width="1em" height=".188em"></rect>
            <rect x="0" y=".438em" width="1em" height=".188em"></rect>
            <rect x="0" y=".875em" width="1em" height=".188em"></rect>
          </g>
        </svg>
      </span>

      <div class="trigger">
        <a class="page-link" href="{{ "/about/" | prepend: site.baseurl }}">About</a>
      </div>
    </nav>

  </div>

</header>
