<header class="site-header">

  <div class="wrap">
    <a class="site-title" href="/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg>
          <g transform="translate(5,6)" fill="#0C84E8">
            <rect x="0" y="0" width="1.125em" height=".188em"></rect>
            <rect x="0" y=".375em" width="1.125em" height=".188em"></rect>
            <rect x="0" y=".75em" width="1.125em" height=".188em"></rect>
          </g>
        </svg>
      </a>

      <div class="trigger">
        <a class="page-link" href="/about">About</a>
      </div>
    </nav>

  </div>

</header>