body
  font-family: $my-font-family

a
  color: $pure-blue
  text-decoration: none
  &:hover
    text-decoration: underline

h1, h2, h3, h2, h5, h6
  font-weight: normal

.wrapper
  max-width: 42em
  margin: 0 auto
  padding: 1.25em 1em

/* header styles */
.site-title
  font-size: 1.5em
  line-height: 1em
  text-decoration: underline
  text-decoration-style: wavy

.site-nav
  float: right
  .page-link
    color: $dark-gray
    margin-left: 2em
    line-height: 1.7em

/* index styles */
.posts
  ul
    padding-left: 0
    list-style-type: none
    li
      margin-bottom: 2em
  .post-date
    display: block
    color: $dark-gray
  .post-link
    font-size: 1.5em

/* article styles */
.post-header
  padding: 2em 0
  text-align: center
  h1
    color: $pure-blue
  .meta
    color: $dark-gray

.post-content
  font-size: 1.1em
  h2, h3, h2, h5, h6
    color: $pure-blue
  p, ol, ul
    line-height: 1.7em
    text-align: justify
  p
    text-indent: 1em
    &.no-text-indent
      text-indent: 0
  ol
    list-style-type: hiragana
  blockquote
    opacity: .6
    font-style: italic
    padding-left: .75em 
    margin-left: 0
    margin-right: 0
    border-left: .25em solid $pure-blue
  img
    max-width: 100%
    height: auto
    display: block
    margin: 0 auto
    &.not-center
      display: inline
  .vertical
    writing-mode: vertical-rl
    -webkit-writing-mode: vertical-rl
    -ms-writing-mode: vertical-rl
    margin: 0 auto 2em auto
    height: 14em

.post
  figure
    margin-left: 0
    margin-right: 0
    pre
      // add a scrollbar
      overflow: auto
  p code
    // add padding to inline code
    padding: .063em
    border: .063em solid $very-light-gray
  pre
    white-space: pre-wrap
    // add padding to syntax highlighting
    padding: .75em
    border: .063em solid $very-light-gray

@media screen and (max-width: 44em)
  .wrapper
    padding: 1em 1em
  .post pre
    white-space: pre
  .post-content .vertical
    height: 17em
